<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    
    <!-- <script type="javascript" src="/javascripts/jquery.min.js"></script>
    <script type="javascript" src="/javascripts/bootstrap.js"></script> -->
    <style>
      .haha{

      }
    </style>
  </head>
  <body>
    <div class="row">
      <div class="col-md-4">
        
          <% for (var i = 0; i < datas.length; i++) { -%>
          <div><%= datas[i].todo%> <input type="button" class="btn btn-default haha" value="删除" id=<%= datas[i].id %>></div> 
          <% } -%>
       
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <form>
          <div class="form-group">
            <label for="exampleInputFile">添加todoList</label>
            <input type="text" class="form-control" id="todo">
            <input type="button" id="add" class="btn btn-default" value="添加">
          </div>
        </form>
      </div>
    </div>
   <script src="/javascripts/jquery.min.js"></script>
   <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>
<script>
   $(function(){
     $("#add").click(function(){
       $.ajax({
         url:"/lists",
         method:'post',
         dataType:'json',
         data:{
          todo:$("#todo").val()
         },
         success:function(redata){
            var d="";
            for(var i=0;i<redata.length;i++){
                d+="<div>"+redata[i].todo+"<input type=\'button\' class=\'btn btn-default haha\' value=\'删除\' id=\'"+redata[i].id+"\'>"+"</div>"
            }
            $(".col-md-4").empty();
            $(".col-md-4").append(d)
            $("#todo").val("")
            //window.location.href=window.location.href
         }
       })
     })
     $(document).on("click",".haha",function(){
      var id=this.id
        $.ajax({
         url:"/delete",
         method:'post',
         dataType:'json',
         data:{
          id:id
         },
         success:function(redata){
            var d="";
            for(var i=0;i<redata.length;i++){
                d+="<div>"+redata[i].todo+"<input type=\'button\' class=\'btn btn-default haha\' value=\'删除\' id=\'"+redata[i].id+"\'>"+"</div>"
            }
            $(".col-md-4").empty();
            $(".col-md-4").append(d)
         }
       })
     })
    //  $(".haha").click(function(){
        
    //  })
   })
</script>
